@page "/products"
@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<AuthorizeView>
    <Authorized>
        このユーザー: @context.User.FindFirst(ClaimTypes.Name).Value は認証済みです
    </Authorized>
    <NotAuthorized>
        このユーザーは認証されていません
    </NotAuthorized>
</AuthorizeView>

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
