<div class="spec-item">
    <div class="spec-title">@Name</div>
    <div class="spec-values">
        @foreach (var v in Values)
        {
            <div class="spec-value">
                @v
            </div>
        }
    </div>
</div>