@inherits LayoutComponentBase

<RadzenDialog />
<RadzenLayout>
    <RadzenHeader>
        <div class="d-flex align-items-center">
            <RadzenSidebarToggle Click="@(() => SidebarExpanded = !SidebarExpanded)" />
            <RadzenLabel Text="Mincuru" />
        </div>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded=SidebarExpanded>
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Cars" Icon="directions_car" Path="/cars" />
        </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenBody>
        @Body
    </RadzenBody>
</RadzenLayout>
