<div class="spec-item">
    @foreach (var item in KVPairs)
    {
        <div class="spec-row">
            <div class="spec-title">@item.Key</div>
            <div class="spec-value">@item.Value</div>
        </div>
    }
</div>